{% extends 'blog/base.html' %}

{% block title %}
    Admin
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class=".container-fluid">
            <div class="col-lg-8 col-lg-offset-2">
                {% for post in posts %}
                    <div class="post" id="{{ post.pk }}">
                        <a href="{% url 'post_edit' post_id=post.pk %}">
                            <span class="sz glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                        </a>
                        <a id="delete_post" onclick="del({{ post.pk }})" style="cursor: pointer">
                            <span class="glyphicon glyphicon-remove pull-right szc" aria-hidden="true"></span>
                        </a>
                        <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <div>
                            <p class=" description">{{ post.content|safe }}</p>
                            <p class="date pull-right">{{ post.datetime }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>Нет постов</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        function del(id){
            if (confirm("Точно удалить?")) {
                $.get("/blog/admin/" + id + "/delete/", function (data) {
                    if (data == 200) {
                        $("#" + id).remove();
                    }
                });
            }
        }
    </script>
{% endblock %}