{% extends 'blog/base.html' %}
{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
        <form method="post">
            {% csrf_token %}
            {{ change_pass_form.newpass }}
            {{ change_pass_form.newpass.errors }}
            {{ change_pass_form.newpass2 }}
            {{ change_pass_form.newpass2.errors }}
            {{ change_pass_form.non_field_errors }}
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
    </div>
{% endblock %}