{% extends 'blog/base.html' %}

{% block title %}
    Comments
{% endblock title %}
{% block content %}
    <div class=".container-fluid">
        <div class="col-lg-8 col-lg-offset-2">
            {% for comment in comments %}
                <div class="post">

                    <h3 class="title"><a href="{{ comment.get_absolute_url }}">{{ comment.author }}</a></h3>
                    <div>
                        <p class=" description">{{ comment.text }}</p>
                        <p class="date pull-right">{{ comment.created_date }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Нет постов</p>

            {% endfor %}
        </div>
    </div>
{% endblock content %}