{% extends 'blog/base.html' %}
<script>


</script>
{% block content %}
    <div class="col-lg-8 col-lg-offset-2 detail">
        {% if user.is_superuser %}

            <form action="http://localhost:8000/blog/admin/{{ post.pk }}/edit/" method="post" class="pull-right">
                {% csrf_token %}
                <button type="submit" name="edit" class="btn btn-default"><span class="sz glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></button>
                <button type="submit" name="delete" class="btn btn-default" onclick="return confirm('Точно удалить?')"><span class="glyphicon glyphicon-remove pull-right szc" aria-hidden="true"></span></button>
            </form>
        {% endif %}
        <p>{{ post.datetime }}</p>
        <p><b>Категории:</b>
            {% for cat in post.category.all %}
                <a href="{%  url 'by_category' category_id=cat.pk %}">{{ cat }}</a>
            {% endfor %}
        </p>
        <h2 class="title text-center">{{ post.title }}</h2>
        <p class="detail_descr">{{ post.content|safe }}</p>
        {% if post.tages.all.count > 0 %}
            <h6><p class="pull-right">
                <b>тэги:</b>

                {% for tag in post.tages.all %}
                    <a href="{% url 'by_tag' tag_id=tag.pk %}">{{ tag }} </a>
                {% endfor %}
            </p>
            </h6>
        {% endif %}
        <h3>
            {% if request.user.is_authenticated %}
                <a title="Понравилось" class="btn btn-success" id="click_like">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span id="likes_count">{{ post.get_likes }}</span>
                </a>


            {% else %}
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ post.get_likes }}
            {% endif %}
        </h3>
    </div>
    {% if post.comment_set.all %}
        <div class="col-lg-8 col-lg-offset-2 detail">
            <h2 class="text-center">Комментарии</h2>
            <div class="comments">
                {% for comment in post.comment_set.all %}
                    <blockquote>
                        <span>
                            <a href="#">{{ comment.author }}</a> said on {{ comment.created_date }}
                            {% if user.is_superuser %}
                                <a href="{% url 'comment_edit' post_id=post.pk comment_id=comment.pk %}">
                                    <span class="sz glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'comment_delete' post_id=post.pk comment_id=comment.pk %}">
                                    <span class="glyphicon glyphicon-remove pull-right szc" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </span>
                        <p>
                            {{ comment.text }}
                        </p>
                    </blockquote>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <br />
    <div class="col-lg-8 col-lg-offset-2 detail">
        <h2 class="text-center">Добавить коммент</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="content">Сообщение:</label>
                <div class="col-sm-10">
                    {{ comment_form.text }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    {{ comment_form.errors.text  }}
                </div>
                <br>
            </div>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $("#click_like").click(function() {
                $.get("/blog/{{ post.pk }}/addlike/", function(data) {
                    if(data==200){
                        $("#likes_count").text(function(i, current_count_likes){
                            return parseInt(current_count_likes)+1;
                        })
                    }
                });
            });
        });
    </script>
{% endblock %}