{% extends 'blog/base.html' %}

{% block content %}
    <div class="col-lg-9 col-lg-offset-1">
        {% for post in posts_with_tag %}
            <div class="post">
                <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                <div>
                    <p class=" description">{{ post.content|safe }}</p>
                    <p class="date pull-right">{{ post.datetime }}</p>
                </div>
                <h4 class="">
                    <span title="Просмотры" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    {{ post.get_views }}
                    <span title="Понравилось" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    {{ post.get_likes }}
                    <span title="Просмотры" class=" glyphicon glyphicon-comment" aria-hidden="true"></span>
                    {{ post.comment_set.count }}
                </h4>
                {% if post.tages.all.count > 0 %}
                    <h6>
                        <p class="pull-right">
                            <b>тэги:</b>
                            {% for tag in post.tages.all %}
                                <a href="{% url 'by_tag' tag_id=tag.pk %}">{{ tag }} </a>
                            {% endfor %}
                        </p>
                    </h6>
                {% endif %}
                {% if post.category.all.count > 0 %}
                    <p><b>Категории:</b>
                        {% for cat in post.category.all %}
                            <a href="{%  url 'by_category' category_id=cat.pk %}">{{ cat }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет постов</p>
        {% endfor %}
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                {% if posts_with_tag.has_previous %}
                    <li>
                        <a href="?page={{ posts_with_tag.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                <span class="current">
                        {{ posts_with_tag.number }} / {{ posts_with_tag.paginator.num_pages }}
                 </span>
                </li>
                {% if posts_with_tag.has_next %}
                    <li>
                        <a href="?page={{ posts_with_tag.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
{%  endblock %}