{% extends 'blog/base.html' %}

{% block content %}

    <div class="col-lg-9 col-lg-offset-1">
        <blockquote>
            <p>Тэги разделены пробелом. Допускаются только символы латинского алфавита!</p>
            <footer>Например: <cite title="Example">summer outumn winter spring</cite></footer>
        </blockquote>

        <form class="form-horizontal" method="POST">{% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Название тэгов:</label>
                <div class="col-sm-10">
                    {{ tag_form.tag_name }}

                </div>
                {{ tag_form.errors }}
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Добавить</button>
                    <a class="btn btn-danger" href="{% url 'post_new' %}" role="button">Отмена</a>
                </div>
            </div>
        </form>
    </div>
{%  endblock %}