{% extends 'blog/base.html' %}
{% block content %}

<div class="col-lg-8 col-lg-offset-2 detail">
{% if user.is_superuser %}
<a href="{% url 'blog.views.post_edit' pk=post.pk %}"><span class="sz glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
<a href="{% url 'blog.views.post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove pull-right szc" aria-hidden="true"></span></a>
{% endif %}
	<p>{{ post.datetime }}</p>
	<h2 class="title text-center">{{ post.title }}</h2>
	<p class="detail_descr">{{ post.content }}</p>
</div>
    {% if post.comment_set.all %}
        <div class="col-lg-8 col-lg-offset-2 detail">
<h2 class="text-center">Комментарии</h2>
<div class="comments">
    {% for comment in post.comment_set.all %}
        <span>
            <a href="{% url 'blog.views.comment_edit' pk=comment.pk %}">{{ comment.author }}</a> said on {{ comment.created_date }}
            {% if user.is_superuser %}
                <a href="{% url 'blog.views.comment_edit' pk=comment.pk %}"><span class="sz glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
                <a href="{% url 'blog.views.comment_delete' rk=post.pk pk=comment.pk %}"><span class="glyphicon glyphicon-remove pull-right szc" aria-hidden="true"></span></a>
{% endif %}
        </span>
        <p>
            {{ comment.text }}
        </p>
        <hr>
    {% endfor %}
</div>
        </div>
{% endif %}

<br />
     <div class="col-lg-8 col-lg-offset-2 detail">
    <h2 class="text-center">Добавить коммент</h2>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
    </div>

{% endblock %}
