{% extends 'blog/base.html' %}
{% block content %}
    <div class="col-lg-4 col-lg-offset-3">
        <form method="post" name="LoginForm" action="/blog/login/">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="content">Login:</label>
                <div class="col-sm-10">
                   <input type="" id="username" name="username" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="content">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-success text-center">Вход</button>
            <a href="{% url 'registration' %}">Зарегистрироваться</a>
        </form>
    </div>
{% endblock %}